@tailwind base;
@tailwind components;
@tailwind utilities;

/* light */
/* --text: hsl(0, 0%, 2%);
--background: hsl(0, 0%, 98%);
--primary: hsl(320, 100%, 67%);
--secondary: hsl(327, 22%, 90%);
--accent: hsl(269, 66%, 50%); */

/* dark */
/* --text: hsl(0, 0%, 98%);
--background: hsl(0, 0%, 2%);
--primary: hsl(320, 100%, 67%);
--secondary: hsl(328, 21%, 12%);
--accent: hsl(269, 66%, 70%); */

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 2%;

    --primary: 320 100% 67%;
    --primary-foreground: 0 0% 2%;
    
    --secondary: 327 22% 90%;
    --secondary-foreground: 0 0% 2%;
    
    --accent: 269 66% 50%;
    --accent-foreground: 0 0% 98%;
    
    /* --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%; */

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;                            
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
 
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
 
    --border: 216 34% 17%;
    --input: 216 34% 17%;
 
    --card: 224 71% 30%;
    --card-foreground: 213 31% 91%;
 
    --primary: 221 100% 63%;
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: 170 100% 63%;
    --secondary-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
  }
}

@layer base {
  html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  body {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  * {
    scrollbar-color: var(--scrollbar) var(--background);
  }
  
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar:horizontal {
    height: 6px;
  }
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-corner {
    background: var(--background);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover);
  }
  
  @font-face {
    font-family: 'Inter' sans-serif;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\wght.ttf);
    font-weight: 100 900;
    font-display: swap;
  }
  
  @keyframes slide-enter {
    0% {
      transform: translateY(10px);
      opacity: 0
    }
  
    to {
      transform: translateY(0);
      opacity: 100
    }
  }
  
  @media (prefers-reduced-motion:no-preference) {
    [slide-enter],
    .slide-enter,
    .slide-enter-content > * {
      --enter-stage: 0;
      --enter-step: 90ms;
      --enter-initial: 0ms;
      animation: slide-enter 1s both 1;
      animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
    }
  
    .slide-enter-content > *:nth-child(1) { --enter-stage: 1; }
    .slide-enter-content > *:nth-child(2) { --enter-stage: 2; }
    .slide-enter-content > *:nth-child(3) { --enter-stage: 3; }
    .slide-enter-content > *:nth-child(4) { --enter-stage: 4; }
    .slide-enter-content > *:nth-child(5) { --enter-stage: 5; }
    .slide-enter-content > *:nth-child(6) { --enter-stage: 6; }
    .slide-enter-content > *:nth-child(7) { --enter-stage: 7; }
    .slide-enter-content > *:nth-child(8) { --enter-stage: 8; }
    .slide-enter-content > *:nth-child(9) { --enter-stage: 9; }
    .slide-enter-content > *:nth-child(10) { --enter-stage: 10; }
    .slide-enter-content > *:nth-child(11) { --enter-stage: 11; }
    .slide-enter-content > *:nth-child(12) { --enter-stage: 12; }
    .slide-enter-content > *:nth-child(13) { --enter-stage: 13; }
    .slide-enter-content > *:nth-child(14) { --enter-stage: 14; }
    .slide-enter-content > *:nth-child(15) { --enter-stage: 15; }
    .slide-enter-content > *:nth-child(16) { --enter-stage: 16; }
    .slide-enter-content > *:nth-child(17) { --enter-stage: 17; }
    .slide-enter-content > *:nth-child(18) { --enter-stage: 18; }
    .slide-enter-content > *:nth-child(19) { --enter-stage: 19; }
    .slide-enter-content > *:nth-child(20) { --enter-stage: 20; }
  }
  
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
  }
  ::view-transition-old(root) {
    z-index: 1;
  }
  ::view-transition-new(root) {
    z-index: 9999;
  }
  .dark::view-transition-old(root) {
    z-index: 9999;
  }
  .dark::view-transition-new(root) {
    z-index: 1;
  } 
}


